ErrorDocument 404 /404.html

Header set Cache-Control "public, max-age=0, must-revalidate, s-maxage=86400"

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=307,END]

	RewriteCond %{HTTP_HOST} ^staticphp.com$
	RewriteRule ^(.*)$ https://www.staticphp.com/$1 [R=307,END]

	RewriteCond %{HTTP_HOST} ^staticphp.io$ [OR]
	RewriteCond %{HTTP_HOST} ^www.staticphp.io$ [OR]
	RewriteCond %{HTTP_HOST} ^staticphp.com$
	RewriteRule ^(.*)$ https://www.staticphp.com/$1 [R=307,END]
</IfModule>
